@import 'variables';

.card-body .right{
	float: right;
	position: absolute;
	bottom: 0;
	right: 0;
}
.card{
	width: 100%;
	margin: 6px 0;
	background-color: white;
	box-shadow: 0 0 2px $black;
	-webkit-box-shadow: 0 0 2px $black;
	-moz-box-shadow: 0 0 2px $black;
	position: relative;
	// display: inline-block;
	&:hover{
		box-shadow: 0 0 2px $darkOrage;
		-webkit-box-shadow: 0 0 2px $darkOrage;
		-moz-box-shadow: 0 0 2px $darkOrage;
	}
	.card-head{
		span{
			display: block;
			padding: 8px;
			font-weight: 600;
			color: black;
		}
	}

	.card-body{
		p{	
			padding: 8px 16px;
			color: grey;
			small{
				display: block;
				margin-top: 6px;
				color: $darkOrage;
			}
		}

		.btn-group{
			float: right;
			text-align: center;
			position: absolute;
			bottom: 12px;
			right: 0;
			padding: 16px 0;

			button{
				font-size: 20px;
				padding: 10px 8px;
				width: 100px;
				outline: none;
				border: none;
				background-color: white;
				margin: 0 16px;
				color: $orange;
			}
		}
	}
}