<form class="login-container animated bounce" ng-submit="login()">
	<div class="login-header">
		<h1 class="logo animated bounceInLeft">IBUY</h1>
	</div>
	<div class="login-body">
		<div class="input-field">
			<input class="form-control" type="text" name="username" ng-model="username" maxlength="10"  required/>
			<label for="password">UserName</label>
		</div>
		<div class="input-field">
			<input class="form-control" type="password" name="password" required ng-model="password" />
			<label for="password">PassWord</label>
		</div>
		<button class="btn" type="submit">Sing in</button>
		<button class="btn">Sing up</button>
		<p>Forget the PassWord ?</p>
	</div>
</form>
